*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-family: 'Roboto', sans-serif;
    
}
.html{
    scroll-behavior: smooth;
}

.navbar{
    background:  #141619;
    color: white;
    padding: 15px 50px;
}
.nav-left img{
    width: 11.2988rem;
    height: 2.625rem;

}


.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-mid ul{
    display: flex;
    gap: 20px;
}
.nav-mid li{
    list-style: none;

}

.nav-right{
    display: flex;
    gap: 10px;
}
.span-after{

    width: 0.70713rem;
    height: 0.70713rem;
    margin-left: 5px;
}

.sec-2{
    width: 100%;
    height: 50rem;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    justify-content: center;
    background: #141619;
    color: white;
}

.sec-2 h1{
    font-size: 4.5rem;
    text-align: center;
    font-weight: 500;
    line-height: 5.375rem;

}

.sec-2 p{
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.875rem;
    text-align: center;
    width: 32rem;
}

.sec-2 button{
    width: 12rem;
    height: 3.625rem;
    position: relative;
    border-radius: 0.125rem;
    background: linear-gradient(135deg, #665DCD 0%, #5FA4E6 44.76%, #D2AB67 100%);
    color: white;
    font-size: 1.1875rem;
    font-weight: 500;
    text-align: center;
}
.blank{
    width: 100%;
    height: 20rem;
    background: #141619;
}

.points{
    display: grid;
    grid-template-columns: 16.5rem 16.5rem 16.5rem 16.5rem;
    width: 66rem;
    color: white;
    
}


.sec-3{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 100px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background: #141619;
    color: white;

}
.about{
    width: 66rem;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    text-align: center;
    padding: 0 14rem;
    font-weight: 700;
    line-height: 1.5rem;
}


.p1{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    width: 16.5rem;
    padding: 1.5rem;
    text-align: center;
    border-left: 1px solid white;
    border-bottom: 1px solid white;
    
    
}

.p2{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    width: 16.5rem;
    padding: 1.5rem;
    text-align: center;
    border-left: 1px solid white;
}

.p3{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    width: 16.5rem;
    padding: 1.5rem;
    text-align: center;
}

.p4{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    width: 16.5rem;
    padding: 1.5rem;
    text-align: center;
    border-bottom: 1px solid white;
}


#colored{
    background: linear-gradient(135deg, #665DCD 0%, #5FA4E6 44.76%, #D2AB67 100%);
}


.sec-4{
    display: flex;
    flex-direction: column;
    gap: 50px;
    background: #141619;
    color: white;
    

}

.part-1{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 66rem;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0 13rem;
    margin-top: 150px;
    text-align: center;
}

.part-2{
    display: flex;
    width: 66rem;
    justify-content: space-between;
    margin: 0 auto;
}

.left{
    width: 25rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;
}

.sec-5{
width: 100%;
display: flex;
align-items: center;
justify-content: center;
background: #141619;
color: white;

}

.secpart1{
    display: flex;
    align-content: space-between;
    align-items: center;
    gap: 100px;
}

.right-2{ 
    width: 25rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;
    
}


.sec-6{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin: 0 auto;
    background: #141619;
    color: white;
    padding: 0 140px;
    
}

.sec6-left{
    display: flex;
    flex-direction: column;
    gap: 300px; 
}
.sec6-left h1{
    width: 40rem;
    height: 9rem;
    font-size: 3.75rem;
    padding-left: 100px;
}

.sec6-right{
    width: 25.5rem;
    margin-top: 150px;
    background: #141619;
}

.sec-7{
    width: 100%;
    background: #141619;
    color: white;
   
}
.sec7-con{
    width: 66rem;
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    
}

.sec7-con h1{
    font-size: 3.5625rem;
    margin-top: 150px;
}
.sec7-con p{
    width: 37rem;
    text-align: center;
    font-weight: 500;
    line-height: 2rem;
    font-size: 1.25rem;
}

.para{
    display: grid;
    grid-template-columns: 1fr 0fr 1fr;
    gap: 20px;
}
.linebr{
    border: 1px solid white;
}

.para h5{
    padding-top: 10px;
}
.sec-8{
    width: 100%;
    background: #141619;
    color: white; 
}

.right{
    width: 31rem;
}
.sec8-con{
    width: 66rem;
    display: flex;
    gap: 30px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    line-height: 1.875rem;
}


.right{
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    gap: 30px;

}
.left{
    margin-top: 200px;
}

.learn{
    display: flex;
    gap: 10px;
}

.sec-9{
    width: 100%;
    background: #141619;
    color: white;
}

.sec9-con{
    width: 66rem;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 50px;
    justify-content: center;
    align-items: center;
    
}

.sec9-con p{

    line-height: 1.875rem;
    width: 38rem;
    text-align: center;
}

.sec9-con h1{
    margin-top: 200px;
}

.sec9-con button{
    width: 12rem;
    height: 3.625rem;
    position: relative;
    border-radius: 0.125rem;
    background: linear-gradient(135deg, #665DCD 0%, #5FA4E6 44.76%, #D2AB67 100%);
    color: white;
    font-size: 1.1875rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 100px;
}


.footercon-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #141619;
    color: white;
    margin: 0 auto;

}

.con{
    display: flex;
    flex-direction: column;
}

.con li{
    list-style: none;
    margin: 30px 0;
    color: #BCBCBC;
}

.con-2 img{
    width: 11.25rem;
    height: 2.6rem;
    
}

.contact{
    width: 66rem;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 200px;
    margin-bottom: 50px;
    align-items: center;
}

.linebr-2{
    border: 0.025px solid #BCBCBC;
    display: flex;
}

.con ul{
    gap: 10px;
}

.footer-last{
    display: flex;
    width: 70rem;
    justify-content: space-between;
    font-size: 0.875rem;
    margin: 0 auto;
    background: #141619;
    color: #BCBCBC;

}

.last-1{
    width: 100%;
    background: #141619;
    padding: 50px 0;
    

}

